                                /* text decoration */


/* 1번 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*     font-family: 'Abril Fatface', cursive; */

/* 2번 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+SC:wght@300;400&display=swap');
/* font-family: 'Abril Fatface', cursive;
font-family: 'Cormorant SC', serif; */

/* 3번 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+SC:wght@300;400&display=swap');
/* font-family: 'Abril Fatface', cursive;
font-family: 'Cormorant SC', serif; */




h1{
    color:rgb(61, 248, 233);
    text-align: center;
    padding: 90px;
    padding-bottom: 45px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant SC', serif; 
    font-size: 80px;
    font-weight: 200;
    margin-bottom: 0;
}

h5{
    color: rgba(52, 211, 211, 0.219);
    text-align: center;
    padding-top: 3px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant SC', serif; 
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 200px;
}

h6{
    color: beige;
    text-align: center;
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant SC', serif;
    margin: 70px;
    font-weight: 500;
}

h3{
    color: rgb(125, 219, 231);
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant SC', serif;
    padding-top: 200px;
    padding-bottom: 150px;
    text-align: center;
    font-weight: 500;
    font-size: 45px;

}

p{
    color: rgb(198, 235, 238);
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant SC', serif;
    font-weight: 300;
    font-size: 25px;
    margin: 150px;
}


/* background decoration */
body{
    background-image: url('imgforcss/bg11.png');
    background-size: 100%;
    background-color: black;
}

