                                /* text decoration */
/* 미디어쿼리 작업 필요 : 화면 크기에 따라 레이아웃 다르게 하기.  */

/* 1번 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*     font-family: 'Abril Fatface', cursive; */

/* 2번 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+SC:wght@300;400&display=swap');
/* font-family: 'Abril Fatface', cursive;
font-family: 'Cormorant SC', serif; */

/* 3번 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+SC:wght@300;400&display=swap');
/* font-family: 'Abril Fatface', cursive;
font-family: 'Cormorant SC', serif; */




h1{
    color:rgb(61, 248, 233);
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant SC', serif; 
    font-size: 5vw;                        /* 화면 크기별 조정을 위해 px를 %로 수정. */
    font-weight: 200;
}

h5{
    color: rgba(52, 211, 211, 0.219);
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant SC', serif; 
    font-size: 2.7vw;
}

a:link, a:visited{
    color: rgba(52, 211, 211, 0.219);
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant SC', serif; 
    font-size: 3vw;
    text-decoration: none;
    display: block;
}

a:hover, a:focus{
    color: rgb(255, 255, 255);
    
}


h6{
    color: beige;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant SC', serif;
    font-weight: 500;
}

h3{
    color: rgb(125, 219, 231);
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant SC', serif;
    padding-top: 400px;
    padding-bottom: 150px;
    text-align: center;
    font-weight: 500;
    font-size: 3vw;

}

p{
    color: rgb(198, 235, 238);
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cormorant SC', serif;
    font-weight: 300;
    font-size: 1.5vw;
    padding-bottom: 8%;
}





/* background decoration */
#container{
    background-image: url('imgforcss/bg11.png');
    background-size: 100%;
    background-color: black;
}
#header{
    position: relative;
    background-color: black;
    padding: 90px;
    margin-bottom: 100px;
    margin-top: 0px;
}

#content{
    /* height: auto; */
    margin-bottom: 10px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%; 
    background-color: rgba(11, 35, 59, 0.137);
    float: center;
}


#sidebar{
    width: 100%;
    position: absolute;
}

#left-sidebar{
    width: 10%;
    /*height: auto; */
   /* background-color: red; */
    float: left;
}
#right-sidebar{
    width: 10%;
    /* height: auto; */
    /*background-color: pink; */
    float: right;
}



/*사진은 왼쪽, 글은 오른쪽에 두고 싶음.  */
#sub_content {
    width: 100%;
    float: auto;    
    /*position: absolute;*/
}

/*div[class^=img1]{
    float: left;
    width: 10%;
}
div[class^=img2]{
    float: left;
    width: 10%;
}
div[class^=text]{
    float: right;
    width: 50%;
} */


/* 이미지 좌측, 텍스트 우측 배열 */

/* .one-img2{
    float: left;
    width: 30%;
}
.one-img1{
    float: left;
    width: 30%;
}
.one-text{
    float: right;
    width: 30%;
}
*/

[img = height]{
    float: left;
    width: 10%;
}

#text{
    float: right;
    width: 30%;
}

